/* COLORS:
--charcoal: #404e5cff;
--cadet-blue-crayola: #a9b4c2ff;
--golden-brown: #99621eff;
--black-bean: #400406ff;
--russian-green: #659157ff;
*/
:root {
	--main-dark-background: #e0e4eb;
	--main-light-background: #F9FAFB;
	--side-background: #a9b4c2ff;
	--side-button: #404e5cff;
	--side-button-hover: #2a333c;
	--side-button-select: #659157ff;
	--main-text-color: black;
	--button-text-color: white;
	--side-border-color: #404e5cff;
	--line-color: #400406ff;
	--dashed-line-color: #99621eff;
	--skill-circle-light: #a9b4c2ff;
	--skill-circle-dark: #404e5cff;
}

html, body {
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: var(--main-light-background);

	overflow-x: hidden;
}

h1, h2 {
	font-family: Georgia
}

#left-panel {
	background-color: var(--side-background);
	height: 100%;
	position: fixed;
	overflow: auto;
	width: 20vw;
	/*min-width: 5cm;*/
	margin: 0;
	padding: 0;
	/*border-style: none solid none none;
	border-color: var(--side-border-color);*/
}

#dummy {
	width: 10vw;
	/*min-width: 5cm;*/
	height: 100%
}

.item-panel {
	width: 80vw;
	min-height: 100vh;
	/*box-sizing: border-box;*/
	/*padding-left: 17.5vw;
	padding-right: 1cm;*/
	margin-left: 20vw;
	margin-top: 0;
	position: relative;
	overflow: hidden;
	/*width: 100%;
	/*vertical-align: middle;*/
	/*padding-top: 1cm;*/
}
/*
.item-panel:before,
.item-panel:after {
    content: "";
    display: table;
}

.item-panel:after {
    clear: both;
}*/

.item-panel-content {
	color: var(--main-text-color);
	background-color: var(--main-dark-background);
	/*position: absolute;
	top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /*padding-left: 1cm;
    /*margin-left: 0.5cm;
    margin-right: 0.5cm;*/
    /*padding-right: .5cm;
    padding-bottom: .5cm;*/
    margin-top: 2cm;
    padding-top: 0.2cm;
    padding-left: .5cm;
    padding-right: .5cm;
    padding-bottom: .5cm;
    /*box-sizing: border-box;*/
    width: 75%;
    margin-left: 10%;
	/*vertical-align: middle;padding-top: 1cm; */
}

ul.navigation {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 75%;
	margin-left: 12.5%;
}

ul.navigation li a {
	display: flex;
	background-color: var(--side-button);
	color: var(--button-text-color);
	margin-top: 5mm;
	justify-content: center;	
	height: 1cm;
	align-items:center;
    justify-content:center;
    text-decoration: none;
    cursor: pointer;
}

ul.navigation li a:hover {
	background-color: var(--side-button-hover);
}

ul.navigation li a.active {
	background-color: var(--side-button-select);
	cursor: default;
}

hr.sect {
	border: 1px solid var(--line-color);
	/*width: 95%
	margin-left: 0;*/
}

hr.subsect {
	border: 0.5px dashed var(--dashed-line-color);
}

.skillContainer {
	margin-top: 3mm;
	margin-bottom: 3mm;
}

.skillLevelContainer {
	float: right;
}

span.dot {
	height: 25px;
 	width: 25px;
 	background-color: var(--skill-circle-light);
 	border-radius: 50%;
 	display: inline-block;
 	margin-right: 2mm;
}

span.dot.dark {
	background-color: var(--skill-circle-dark);
}