/* color scheme: https://colorhunt.co/palette/02152603346e6eacdae2e2b6 */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: lightgreen;
}


#nav-container {
    background-color: yellow;
}

nav {
    background-color: purple;
}

nav ul {
    list-style-type: none;
}

nav li a {
    color: black;
    background-color: wheat;
    border-radius: 5px;
}

nav li a.active {
    background-color: white !important;
}

.content-outer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content-outer section {
    background-color: grey;
    padding: 1em;
    border-radius: 5px;
}

@media screen and (min-width: 600px) {
    body {
        display: flex;
        justify-content: center;
    }

    nav {
        position: sticky;
        top: 10vw;
        display: flex;
        justify-content: flex-end;
        padding-right: 0.4em; 
    }

    nav li a {
        display: block;
        margin-top: 0.4em;
        padding: 0.2em;
        width: 7em;
        text-align: center;
        text-decoration: none;
    }

    .content-outer section {
        margin: 0.4em;
        max-width: 1200px;
        min-width: 600px;
    }

    #nav-container {
        flex: 1;
    }

    #contents {
        flex: 2;
    }

    #button-container {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    html {
        scroll-padding-top: 2.5em;
    }

    #nav-container {
        display: block;
        position: fixed;
        width: 100%;
    }

    #button-container {
        position: relative;
        height: 2.5em;
        padding: 5px;
        z-index: 2;
        background-color: lightgreen;
    }

    #contents {
        padding-top: 2.5em;
    }

    nav {
        position: absolute;
        top: -250px;
        width: 100%;
        transition:all 300ms ease-in-out;
        z-index: 0;
        display: flex;
        justify-content: center;
    }

    nav.open {
        top: 2.5em;
    }

    nav ul {
        padding-left: 0;
    }


    nav li a {
        display: block;
        margin-top: 0.5em;
        padding: 0.5em;
        width: 95vw;
        text-align: center;
        text-decoration: none;
    }

    #openCloseButton {
        float: right;
        width: 2.4em;
        border-width: 0;
        font-size: inherit;
        height: 2.4em;
        background-color: pink;
    }

    #openCloseButton rect {
        fill: purple;
    }
}
